
<div class="card card-profile" style="margin: 50px">
  <div class="card-avatar">
    <a href="javascript:void(0)">
      <img class="img" src="./assets/img/marc.jpg" />
    </a>
  </div>
  <div class="card-body">
    <h6 class="card-category text-gray">{{author}}</h6>
    <h4 class="card-title">{{title}}</h4>
    <p class="card-description">
      {{content}}
    </p>
    <i class="fa fa-heart" style="font-size:30px" (click)="like(id)" ></i>
<!--    <a href="javascript:void(0)" class="btn btn-danger btn-social" >Like</a>-->
<!--    <a href="javascript:void(0)" class="btn btn-danger btn-round" (click)="showPreview(id)">Preview</a>-->
  </div>
</div>

